/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}

.navbar {
    background-color: #458e7b;
    text-align: right;
}

.flashed_messages->alert {
    text-align: right;
    margin-top: 55px;
    padding: 20px;
}


/*link to home lable */

.navbar .navbar-brand {
    color: #fff;
    text-align: right;
    font-size: 23px;
}

.navbar .navbar-nav {
    color: #fff;
}


/*
 * Sidebar
 */


/* Hide for mobile, show later */

.sidebar {
    display: none;
}


/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar>li>a {
    padding-right: 20px;
    padding-left: 20px;
    text-align: right;
    align-content: center;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
    font-size: 18px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #064579;
}


/*
 * Main content
 */

.container {
    text-align: right;
    padding: 20px;
}

.main {
    padding-right: 20px;
    padding-left: 20px;
    text-align: right;
    max-width: 900px;
    margin-right: 0;
    margin-left: auto;
    direction: rtl;
}


/* @media (min-width: 768px) {
    .sidebar {
        position: right;
        top: 51px;
        bottom: 0;
        display: block;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;

        background-color: #f5f5f5;
        border-right: 1px solid #eee;
        color: #eee;
    }
} */


/* Sidebar navigation */

.nav-sidebar {
    margin-right: 20px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar>li>a {
    padding-right: 20px;
    padding-left: 20px;
    text-align: right;
    align-content: center;
}

.nav-sidebar>.active>a,
.nav-sidebar>.active>a:hover,
.nav-sidebar>.active>a:focus {
    color: #fff;
    background-color: #458e7b;
}

.btn-primary {
    background-color: #458e7b;
    border-color: #458e7b;
}


/* ////////////////////////////// */

.sidenav {
    height: 100%;
    max-width: 250px;
    margin: 0 auto;
    z-index: 1;
    text-align: center;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    background-color: #458e7b;
    margin: 10px;
    padding: 15px;
}

.sidenav a:hover {
    color: #064579;
}

.alert-success {
    text-align: center;
    width: 50%;
    margin-left: 48%;
}


/* ---------------- section2 ------------------ */

#save {
    bottom: 5%;
    position: fixed;
    right: 4%;
    font-size: 19px;
}

.preview {
    bottom: 5%;
    position: fixed;
    right: 16%;
    font-size: 19px;
}

.section2 .element:hover,
.element:focus {
    border: 1px solid #959595;
    cursor: all-scroll;
}

.swal2-container,
.swal-modal {
    direction: rtl;
}

.swal2-container.swal2-center>.swal2-popup {
    width: 50%;
    font-size: 15px;
}

.swal2-input,
.swal2-select {
    width: 75% !important;
    display: inline-block;
}

.option_score .swal2-input {
    margin: 1em 5px !important;
    width: 50% !important;
}

#score-input1,
#score-input2,
#score-input3,
#score-input4 {
    width: 25% !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tab_from h2 {
    margin-bottom: 25px;
}

.tab_from .information {
    min-height: 45vh;
}

.options .edit .duplicate {
    display: none;
}

.options p {
    position: relative;
}

.options p span,
.option_score span {
    position: absolute;
    right: 0;
    font-weight: normal;
    border-radius: 5px;
    border: 1px solid #458e7b;
    padding: 0 1px;
}

.img_info {
    width: 100%;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    text-align: center;
}


/* טווח  */

.range-wrap {
    position: relative;
    width: 75%;
    margin-bottom: 25px;
}

.bubble {
    background: #458e7b;
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
}

.bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: #458e7b;
    top: -1px;
    left: 50%;
}


/* ********* */

.section2 .el-radio {
    text-align: right;
    font-size: 15px;
}

.section2 .el-radio label {
    font-weight: normal;
    padding-right: 5px;
}

.section2 .el-radio p {
    font-size: 17px;
    font-weight: bold;
}

.section1 button {
    display: block;
    margin: 10px;
    width: 100%;
    padding: 10px;
}

.section2 {
    margin: 0 auto;
    color: #000000;
}

.section2 h2 {
    text-shadow: 0px 3px 5px #000000;
    color: #9e9e9e;
    font-size: 62px;
    font-weight: bold;
}

.section2 h1 {
    font-size: 54px;
    text-shadow: 0px 1px 3px #000000;
    color: #3a81be;
    font-weight: bold;
    width: 80%;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

.section2 p {
    padding: 0px 30px;
    font-size: 19px;
    line-height: 1.7;
}

.section2 .delete {
    color: #cb2b2b;
    background-color: transparent;
    border: 1px solid #cb2b2b;
}

.section1 select {
    width: 75%;
}

#img_url {
    background: #ddd;
    width: 100px;
    height: 90px;
    display: block;
}

.section2 .element {
    margin: 15px auto;
    border: 1px solid #ffffff;
}

.section2 .edit {
    visibility: hidden;
}

.section2 .element:hover .edit {
    visibility: visible;
}

.modal-backdrop {
    z-index: 0;
}

.modal-dialog .element:hover,
.element:focus {
    cursor: default;
    border: 1px solid #ffffff;
}

.modal-dialog .edit {
    display: none;
}

.modal-body .tab_from {
    display: block !important;
}

.modal-body .nextPrev,
.modal-body .steps {
    display: none;
}

.modal-body {
    margin: 0 45px;
}


/* ///////////////////////////////// */

.mobile {
    display: none;
}

.section1 {
    display: none;
}


/* ---------------- section1 ------------------ */

#regForm {
    padding: 40px 0;
    /* max-width: 870px; */
    margin: 0 auto;
    direction: rtl;
}

#regForm .btn-primary {
    margin: 20px 0;
}

input {
    padding: 5px;
    width: 100%;
    font-size: 17px;
    /* font-family: Raleway; */
    border: 1px solid #aaaaaa;
    color: #091f35;
}

select {
    width: 100%;
    height: 40px;
    padding: 5px;
    color: #000;
}

input[type=checkbox],
input[type=radio] {
    width: auto;
}


/* Mark input boxes that gets an error on validation: */

input.invalid {
    background-color: #ffdddd;
}


/* Hide all steps by default: */

.tab_from {
    display: none;
}


/* button {
    
    background-color: #00aeef;
    color: #ffffff;
    border: none;
    padding: 6px 16px;
    font-size: 17px;
    cursor: pointer;
} */

button:hover {
    opacity: 0.8;
}

button:focus {
    outline: none;
}

input[type=file] {
    border: 0;
    display: inline-block;
    width: auto;
    color: #de8622;
}

#submit_btn {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.steps {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

#prevBtn {
    background-color: #bbbbbb;
}

.nextPrev {
    margin-top: 20px;
}


/* Make circles that indicate the steps of the form: */

.step {
    height: 40px;
    width: 40px;
    margin: 0 15px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    line-height: 40px;
    font-size: 20px;
    /* opacity: 0.5; */
    /* box-shadow: 0 0 0px 1px #fdb614, 0 0 0px 1px #f37121; */
    box-shadow: 0 0 0px 1px #00aeef, 0 0 0px 1px #1c9bc1;
    /* background: linear-gradient(to left, #fdb614 0%, #f37121 100%); */
    background: linear-gradient(to left, #00aeef, #1c9bc1 100%);
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.step.active {
    /* background: linear-gradient(to left, #f37121 0%, #fdb614 100%); */
    background: linear-gradient(to left, #00aeef, #1c9bc1 100%);
    -webkit-text-fill-color: #052341;
}


/* Mark the steps that are finished and valid: */

.step.finish {
    background-color: #4CAF50;
}


/* //////////////////////////////// */

@media (min-width: 768px) {
    .modal-dialog {
        width: 70%;
    }
}