{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='base.css')}}"> {% endblock %}{% block main_content %}


<img src="../static/mha.png" class="img-responsive" alt="">

<h1>
    מערכת תומכת המסייעת בקבלת החלטות </h1>
<br>
<h2>מהי תמיכה בקבלת החלטות?</h2>
<p> מערכת תומכת המסייעת בקבלת החלטות מקצועיות לאנשי מערכת הבריאות ולמטופלים. </p>
<p>תמיכה בקבלת החלטות היא כל כלי המספק לרופאים, לצוות מנהלי, למטופלים, למטפלים או לחברים אחרים בצוות הטיפול מידע שמסנן או ממוקד לאדם או מצב ספציפי. נועד לשפר את החלטת המטופל ולתת לו את כל הידע הנדרש, ולאפשר לחברי צוות הטיפול להיות יעילים יותר. תמיכה באבחון
    ומידע אסמכתא רלוונטי עבור ספקים המשתתפים בשלב 2 של תכניות התמריצים של EHR, ההגדרה של CDS היא של כדי לספק לאנשים המעורבים בתהליכי טיפול מידע כללי ואדם ספציפי, מסונן ומאורגן בצורה מושכלת, כדי לשפר את ההחלטה הרפואית
</p>
<h2>מי אנחנו</h2>
<p> סטודנטים ממחלקת בריאות באונברסיטת אריאל בהובלת דר' יוליה גנדלר , ראש חטיבת סיעוד הילד והמתבגר - המחלקה לסיעוד שהתחלנו את התהליך הזה באופן מצומצם והרחבנו אותו וכעת לאחר ניסיון ושכלל אנו מעמידים את האתר להמשך מחקר וקידום הרעיון
</p>

{% endblock %}