{% extends "bootstrap/base.html" %} {% block title %} {{title}} {% endblock %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/jscript.js')}}"></script>

<!-- this script is for text editor from https://ckeditor.com/docs/ckeditor5/latest/builds/guides/quick-start.html -->
<script src="https://cdn.ckeditor.com/ckeditor5/29.2.0/classic/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace('editor')
</script>

{% endblock %} {% block navbar %}
<!-- <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css"> -->
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-rtl.css" rel="stylesheet" type="text/css" /> -->


<nav class="navbar navbar-inverse">

    <div class="container  col-sm-12">
        <div class="navbar-header navbar-right">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <div class="container-search">
                {% block search %}{% endblock %}
            </div>
            <a class="navbar-brand" href="./">My Health Aid     <img src="../static/img/logo-mha.png"   class="logo img-responsive" alt="logo"> </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">

                {% block collapsing_navbar %} {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">להתנתק</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">כניסה</a></li>
                <li><a href="{{ url_for('auth.signup') }}">הרשמה</a></li>
                {% endif %} {% endblock %}
            </ul>
        </div>

    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <!--  block for flashed messages -->
            {% block flashed_messages %} {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
            <!--  if error: color = red -->
            {% if category == 'error' %}
            <div class="alert alert-danger alert-dismissable" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                              <span aria-hidden="true">&times;</span>
                            </button>
            </div>
            <!--  if error: color = blue -->
            {% elif category == 'info' %}
            <div class="alert alert-info alert-dismissable" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% else %}
            <!--  if !error->color = green -->
            <div class="alert alert-success alert-dismissable" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %} {% endfor %} {% endif %} {% endwith %} {% endblock %}
            <div class="main">
                {% block main_content %}


                <h1>

                    מערכת תומכת המסייעת בקבלת החלטות </h1>
                <img src="../static/mha2.png" class="img_top img-responsive" alt="">
                <p> תודה על הצטרפות למחקר
                    <br> על מנת לראות את השאלון שלך יש להירשם / להיכנס למערכת
                    <br> אנו מקווים שתפיקו את המירב במערכת
                </p>


                <img src="../static/1.jpeg" class="img_main img-responsive" alt=""> {% endblock %}
            </div>
        </div>

        <div class="sidenav col-sm-3 navbar-right">
            {% block sidebar_add_content %}{% endblock %} {% block sidebar_content %}
            <a href="{{ url_for('views.dashboard') }}">דף הבית</a>
            <a href="{{ url_for('views.about') }}">MHA אודות</a>
            <a href="https://www.ariel.ac.il/wp/" target="_blank">אונברסיטת אריאל</a>
            <a href="{{ url_for('views.contact') }}">צור קשר</a> {% endblock %}
        </div>


    </div>
</div>

<style>
    .main .img_main {
        width: 75%;
    }
    
    .main .img_top {
        width: 20%;
        float: left;
    }
    
    .main p {
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 30px;
    }
    
    .navbar-brand {
        float: none;
    }
    
    .navbar .navbar-brand .logo {
        display: inline-block !important;
        margin-left: 14px;
        width: 50px;
    }
</style>


{% endblock %}