{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block collapsing_navbar %}


<ul class="nav navbar-nav navbar-right">
    <li><a href="{{ url_for('auth.logout') }}">להתנתק</a></li>
</ul>
{% endblock %} {% block sidebar_content %}
<ul>
    <li><a href="{{ url_for('views.profile') }}">פרופיל</a></li>
    <li><a href="{{ url_for('views.builder') }}">תבניות</a></li>
    <li><a href="">מחקר חדש</a></li>
    <li><a href="#">הגדרות</a></li>
</ul>
{% endblock %} {% block main_content %}
<div class="">
    <div class="row placeholders">
        <div class="col-xs-6 placeholder right">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200"
                 height="200" class="img-responsive" alt="research image">
            <h4>מחקרים</h4>
            <span class="text-muted">כמות המחקרים</span>
        </div>

        <div class="col-xs-6 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200"
                 height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>הודעות</h4>
            <span class="text-muted">כמות ההודעות</span>
        </div>
    </div>

    <h2 class="sub-header">{{ table_name }}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
            {% for h in table_headers %}
                <th>{{ h }}</th>
                {% endfor %}
                <th></th>
                </tr>
            {% for user in table %}
            <tr id="user_row" data-toggle="modal" data-target="#user_details_modal">
                <td class="first_name">{{ user.first_name }}</td>
                <td class="last_name">{{ user.second_name }}</td>
                <td class="email">{{ user.email }}</td>
                <td class="creation_date">{{ user.creation_date }}</td>
                <td class="permission">{{ user.permission }}</td>
                <td class="buttons">
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#user_details_modal">הצג</button>

                    <button type="button" class="btn btn-danger btn-sm" data-toggle="" data-target="">מחק</button>
                </td>
            </tr>
                {% endfor %}
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="user_details_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="#user_modal_body" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">סגור</button>
                    <button id="save_user_changes" type="submit" class="btn btn-primary">אישור</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .sidenav ul {
        list-style-type: none;
    }
</style>
{% endblock %}
