{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='base.css')}}"> {% endblock %} {% block collapsing_navbar %}


<ul class="nav navbar-nav navbar-right">
    <li><a href="{{ url_for('auth.logout') }}">להתנתק</a></li>
</ul>
{% endblock %} {% block sidebar_content %}
<ul>
    <li class="active"><a href="{{ url_for('views.home') }}">עמוד הראשי <span class="sr-only">(current)</span></a></li>
    <li><a href="#">פרופיל</a></li>
    <li><a href="#">הגדרות</a></li>
    <li><a href="">תבניות</a></li>
    <li><a href="">מחקר חדש</a></li>
    <li><a href="./contact">צור קשר</a></li>
</ul>
{% endblock %} {% block main_content %}
<div class="">
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="research image">
            <h4>מחקרים</h4>
            <span class="text-muted">כמות המחקרים</span>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>הודעות</h4>
            <span class="text-muted">כמות ההודעות</span>
        </div>
    </div>

    <h2 class="sub-header">מחקרים פעילים</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ניהול</th>
                    <th>סטטוס</th>
                    <th>תאריך התחלה</th>
                    <th>חוקר הראשי</th>
                    <th>שם המחקר</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>דוגמא</td>
                    <td>דוגמא</td>
                    <td>דוגמא</td>
                    <td>דוגמא</td>
                    <td>דוגמא</td>
                </tr>
                <tr>
                    <td>דוגמא</td>
                    <td>דוגמא</td>
                    <td>דוגמא</td>
                    <td>דוגמא</td>
                    <td>דוגמא</td>
                </tr>
                <tr>
                    <td>דוגמא</td>
                    <td>דוגמא</td>
                    <td>דוגמא</td>
                    <td>דוגמא</td>
                    <td>דוגמא</td>
                </tr>
                <tr>
                    <td>דוגמא</td>
                    <td>דוגמא</td>
                    <td>דוגמא</td>
                    <td>דוגמא</td>
                    <td>דוגמא</td>
                </tr>

  <h2 class="sub-header">מחקרים פעילים</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ניהול</th>
          <th>סטטוס</th>
          <th>תאריך התחלה</th>
          <th>חוקר הראשי</th>
          <th>שם המחקר</th>
        </tr>
      </thead>
      <tbody>
        {% for item in values %}
          <p>Name:{{item.first_name}}, Last_name:{{item.last_name}}, Email: {{item.email}}</p>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<style>
    .sidenav ul {
        list-style-type: none;
    }
</style>
{% endblock %}
