{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='base.css')}}"> {% endblock %} {% block collapsing_navbar %}


<ul class="nav navbar-nav navbar-right">
    <li><a href="{{ url_for('auth.logout') }}">להתנתק</a></li>
</ul>
{% endblock %} {% block sidebar_content %}
<ul>
    <li><a href="{{ url_for('views.profile') }}">פרופיל</a></li>
    <li><a href="{{ url_for('views.builder') }}">תבניות</a></li>
    <li><a href="">מחקר חדש</a></li>
    <li><a href="#">הגדרות</a></li>
</ul>
{% endblock %}
{% block main_content %}
<div class="">
    <div class="row placeholders">
        <div class="col-xs-6 placeholder right">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="research image">
            <h4>מחקרים</h4>
            <span class="text-muted">כמות המחקרים</span>
        </div>

        <div class="col-xs-6 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>הודעות</h4>
            <span class="text-muted">כמות ההודעות</span>
        </div>
    </div>

  <h2 class="sub-header">{{ table_name }}</h2>
  <div class="table-responsive">
    <table class="table table-striped">
        {% for user in table %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.second_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.birth_date }}</td>
            <td>{{ user.creation_date }}</td>
            <td>{{ user.permission }}</td>
        </tr>
        {% endfor %}
    </table>
  </div>
</div>

<style>
    .sidenav ul {
        list-style-type: none;
    }
</style>
{% endblock %}
