{% extends "base.html" %}
{% block main_content %}
<div class="table-responsive">
    <table class="table table-profile">
        <tr>
            <td>
                <p>שם</p>
            </td>
            <td>
                  <a href="">{{ user.first_name }}</a>
                  <a href="">{{ user.second_name }}</a>
            </td>
        </tr>
        <tr>
            <td>
                <p>אימייל</p>
            </td>
            <td>
                <a href="">{{ user.email }}</a>
            </td>
        </tr>
        <tr>
            <td>
                <p>תאריך לידה</p>
            </td>
            <td>
                <a href="">{{ user.birth_date }}</a>
            </td>
        </tr>
        <tr>
            <td>
              <p>מין</p>
            </td>
            <td>
                <a href="">{{ user.gender }}</a>
            </td>
        </tr>
      <tr>
            <td>
                <p>הרשאת</p>
            </td>
            <td>
                <a href="">{{ user.permission }}</a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
