{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block styles %} {{super()}}


<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src=" https://unpkg.com/sweetalert/dist/sweetalert.min.js "></script>

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

{% endblock %}


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-rtl.css" rel="stylesheet" type="text/css" /> -->





{% block main_content %}
<h1> צור מחקר</h1>
<div class="section2">

    <label for="categorys">בחר קטגוריה מתאימה:</label>
    <select id="categorys" name="categorys">
            <option value="בריאות">בריאות</option>
            <option value="פסיכולגיה">פסיכולגיה</option>
            <option value="אבחנה">אבחנה</option>
            <option value="תרופות הקלה">תרופות הקלה</option>
          </select>
</div>



{% endblock %} {% block sidebar_content %}

<div class="section1">
    <button type="button" class="btn btn-primary" id="title"> כותרת</button>
    <button type="button" class="btn btn-primary" id="text"> תיבת טקסט </button>
    <button type="button" class="btn btn-primary" id="image">  תמונה</button>
    <button type="button" class="btn btn-primary" id="url">  סרטון</button>
    <button type="button" class="btn btn-primary" id="question-radio">  שאלת בחירה</button>



</div>
<button type="button" id="save" class="btn btn-success">שמור שאלון</button>

<!-- Trigger the modal with a button -->
<button type="button" class="preview btn btn-info" id="myBtn">תצוגה מקדימה</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">שאלון - תצוגה מקדימה</h4>
            </div>
            <div class="modal-body">




            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>



{% endblock %}
</div>

</div>
