{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='base.css')}}"> {% endblock %}

{% block main_content %}{% endblock %}

{% block sidebar_content %}
<div class="table-responsive">
    <table class="table table-str">
        <tr>
            <td>
                <a href="">טקסט</a>
            </td>
            <td>
                <a href="">תמונה</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="">סרטון</a>
            </td>
            <td>
                <a href="">תשובות</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="">טבלה</a>
            </td>
            <td>
                <a href="">תצוגה</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="">שמירה</a>
            </td>
            <td>
                <a href="">הגשה</a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
<div>

</div>
